<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/toasting.js"></script>
    <link rel="stylesheet" href="/toasting.css">
    <style>
        .divider:after,
        .divider:before {
            content: "";
            flex: 1;
            height: 1px;
            background: #eee;
        }

        .h-custom {
            height: calc(100% - 73px);
        }

        @media (max-width: 450px) {
            .h-custom {
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        <div class="form-outline mb-4">
                            <input type="email" id="email" name="email" class="form-control form-control-lg"
                                placeholder="Enter a valid email address" value="" />
                            <label class="form-label" for="email">Email address</label>
                        </div>

                        <div class="form-outline mb-3">
                            <input type="password" id="password" name="password" class="form-control form-control-lg"
                                placeholder="Enter password" value="" />
                            <label class="form-label" for="password">Password</label>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" onclick="event.preventDefault();" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Sign in</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0"> No Account? <a href="/register"
                                    class="link-danger">Register</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div
            class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
            <div class="text-white mb-3 mb-md-0">
                Copyright © 2023. All rights reserved.
            </div>
        </div>
    </section>
</body>
<script>
    $(document).ready(() => {
        $('button').click(() => {
            var email = $('#email').val()
            var password = $('#password').val()
            const data = { email, password }
            $.ajax({
                type: "POST",
                url: "/login",
                data: data,
                dataType: "json",
                success: function (result) {
                    if (result && result.Login) {
                        showMessage("You are now logged in.")
                        localStorage.setItem("id", result.Login.data._id)
                        setTimeout(() => {
                            window.location.href = `/home`
                        }, 1000);
                    } else {
                        showErrMessage(result.message)
                    }
                },
            });
        })
    })
    function showMessage(msg) {
        toasting.create({
            "title": "Success",
            "text": msg,
            "type": "success",
            "progressBarType": "success",
            "timeout": 1000
        });
    }
    function showErrMessage(msg) {
        toasting.create({
            "title": "Error",
            "text": msg,
            "type": "error",
            "progressBarType": "error",
            "timeout": 1000
        });
    }
</script>

</html>